<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sample</title>
    
</head>
<body>
    <center>
        <h1 style="color:cadetblue">This my first html project in django</h1>
        <h2 style="color: darkblue;">this project is done by using render and os</h2>
        <h4 style="color: blueviolet;"><marquee style="color: crimson;">rendering is a process of interacting with template folder and
            extracting specified Html Page to Function</marquee>
        </h4>
    </center>
</body>
</html>